@tailwind base;
@tailwind components;
@tailwind utilities;

/* ANIMAÇÕES CUSTOMIZADAS */
@layer utilities {

.tw-bg-mobile-gradient {
  background: linear-gradient(180deg, #BAE4FD 0%, rgba(186, 228, 253, 0) 100%);
}

@media (min-width: 1024px) {
  .tw-bg-desktop-white {
    background: white;
  }
}

  @keyframes marquee-loop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }


  @keyframes marquee-loop-back {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(50%);
    }
  }




  .tw-marquee-track {
    animation: marquee-loop 60s linear infinite;
  }

  .tw-marquee-track-back {
    animation: marquee-loop-back 60s linear infinite;
  }


}
